* {
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

input, textarea, button {
  border: none;
  font-size: 16px;
  border: none !important;
  outline: none !important;
}

input::placeholder, textarea::placeholder {
  color: #6c757d;
  font-size: 16px;
  user-select: none;
}

p, span, a, i, b, strong, h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

a {
  color: #cf7d1f !important;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}
ul li {
  margin: 0;
}

i {
  font-size: 22px;
}

.background-pattern {
  background-image: url(./../svg/background-pattern.svg);
  background-repeat: repeat;
  background-color: #232526;
}

.icon {
  width: 20px;
  height: 20px;
}

.text-red {
  color: #ff3333 !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.form-input {
  width: 50%;
  background-color: #383838;
  border-radius: 15px;
}

.form-button {
  width: 30%;
  background-color: #cf7d1f;
  border-radius: 15px;
  font-size: 20px;
}

.form-label {
  font-size: 18px;
}

.terms-of-service {
  margin-top: 7px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.contacts .list li .avatar {
  align-self: center;
}
.contacts .list li .content p {
  max-width: 35ch;
}
.contacts .list li .content .message p {
  color: #adb5bd;
  margin-top: 1px;
}
.contacts .list .active .message p {
  color: white !important;
}

.dropdown {
  color: #6c757d;
  user-select: none;
}
.dropdown .dropdown-toggle {
  font-size: 18px;
}
.dropdown .dropdown-menu {
  background: #383838;
}
.dropdown .dropdown-menu .dropdown-item {
  color: #adb5bd !important;
  user-select: none;
}
.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active {
  background-color: #383f44 !important;
}

.button-dark {
  background: #383838;
  border-radius: 5px;
  font-size: 16px;
  color: #adb5bd;
}

.navigation-bar {
  height: 100vh;
  position: absolute;
  background-color: #cf7d1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation-bar .menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
.navigation-bar .menu-buttons .active {
  color: #fff9dc !important;
}
.navigation-bar .menu-buttons li {
  width: 35px;
}
.navigation-bar .menu-buttons li svg .path {
  transition: all 0.3s ease;
  color: #d9d1b6;
}
.navigation-bar .menu-buttons li svg:hover .path {
  color: #fff9dc;
}
.navigation-bar .logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: auto;
}

.sidebar {
  background: #383838;
  width: 380px !important;
  height: 100vh;
  margin-left: 64px !important;
}
.sidebar .sidebar-header {
  background: #505558;
  height: 110px;
  border-right: 1px #6c757d solid;
}
.sidebar .sidebar-header .form-control {
  padding-top: 8px;
  background: #383838;
  color: #adb5bd;
  font-size: 18px;
}
.sidebar .sidebar-header .form-control::placeholder {
  color: #adb5bd;
  font-size: 18px;
}
.sidebar .sidebar-header .form-control:focus {
  box-shadow: none;
  border: none;
}
.sidebar .sidebar-header .input-group-text {
  background: #383838;
  border: none;
}
.sidebar .list {
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  height: 100%;
}
.sidebar .list::-webkit-scrollbar {
  display: none;
}
.sidebar .list .active {
  background: #cf7d1f;
  border: 1px #cf7d1f solid;
}
.sidebar .list .active .message {
  color: white !important;
}
.sidebar .list li {
  transition: all 0.3s ease;
  display: inline-flex;
  border: 1px #6c757d solid;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
}
.sidebar .list li .content {
  margin-left: 14px;
}
.sidebar .list li .content .title {
  display: flex;
  align-items: center;
  width: 100%;
}
.sidebar .list li .content .title .info {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}
.sidebar .list li .content p {
  font-size: 14px;
  max-width: 25ch;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar .list li .content .message {
  user-select: none;
  color: #adb5bd;
  max-width: 35ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar .list li:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar .list li:hover {
  border-color: #c18d1a;
  cursor: pointer;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-width: 0;
}
.chat .chat-header {
  padding: 22px;
  background-color: #383838;
  display: flex;
  align-items: center;
}
.chat .chat-header .chat-info {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}
.chat .chat-header .chat-info .chat-description {
  display: flex;
  flex-direction: column;
}
.chat .chat-header .chat-info .chat-description .chat-name {
  font-size: 16px;
  width: 100px;
  color: white;
}
.chat .chat-header .chat-info .chat-description span {
  color: #adb5bd;
}
.chat .chat-header .chat-info .chat-actions {
  display: flex;
}
.chat .chat-messages {
  max-height: 65%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
}
.chat .chat-messages::-webkit-scrollbar {
  display: none;
}
.chat .chat-messages .message {
  margin-bottom: 10px;
  max-height: 155px;
  max-width: 500px;
  display: inline;
}
.chat .chat-messages .message .message-layout {
  display: flex;
  flex-direction: row;
}
.chat .chat-messages .message .message-layout .message-content {
  max-width: 500px;
  overflow-wrap: break-word;
  background-color: #6c757d;
  padding: 12px;
  margin-left: 10px;
  border-radius: 15px 15px 15px 0;
}
.chat .chat-messages .message .message-layout .message-options {
  display: flex;
  margin-left: 10px;
}
.chat .chat-messages .message .message-layout .message-options .message-button {
  background: none;
  padding: 0;
  cursor: pointer;
}
.chat .chat-messages .message .message-layout .message-options .message-time {
  margin: 0;
}
.chat .chat-messages .message .message-layout .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: flex-end;
}
.chat .chat-messages .self {
  align-self: flex-end;
}
.chat .chat-messages .self .message-layout {
  flex-direction: row-reverse;
}
.chat .chat-messages .self .message-layout .message-content {
  margin-left: 0;
  margin-right: 10px;
  background-color: #cf7d1f;
  border-radius: 15px 15px 0 15px;
}
.chat .chat-messages .self .message-layout .message-options {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: 10px;
}
.chat .chat-footer {
  padding: 22px;
  background-color: #383838;
  border-left: 1px #6c757d solid;
  position: static;
  display: flex;
  align-items: center;
}
.chat .chat-footer .button-dark {
  padding-bottom: 9px;
}
.chat .chat-footer .message-input {
  font-size: 18px;
  resize: none;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  color: white;
  background-color: #383838;
  height: 35px;
}
.chat .chat-footer .message-input::placeholder {
  font-size: 18px;
}
.chat .chat-footer .message-input::-webkit-scrollbar {
  display: none;
}
.chat .chat-footer .send-message {
  background-color: #cf7d1f;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  margin-left: 10px;
  transition: all 0.3s ease;
}
.chat .chat-footer .send-message:hover {
  background-color: #b16b1b;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: #232526;
  padding: 24px;
}
.contact .main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #505558;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}
.contact .main-info .avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}
.contact .main-info p {
  font-size: 16px;
}
.contact .main-info .contact-button {
  transition: all 0.3s ease;
}
.contact .main-info .contact-button:hover {
  background-color: #495057;
  border-color: #495057;
}
.contact .user-info {
  margin-bottom: 25px !important;
}
.contact .user-info li {
  border: #383838 1px solid;
  display: flex;
  background-color: #505558;
  padding: 12px 20px;
  justify-content: space-between;
}
.contact .user-info li .info .title {
  color: #adb5bd;
  font-size: 12px;
}
.contact .user-info li .info p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
