* {
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

input, button {
  border: none;
  font-size: 16px;
  border: none !important;
  outline: none !important;
}

input::placeholder {
  color: #6c757d;
  font-size: 16px;
  user-select: none;
}

p, span, a, i, b, strong, h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

a {
  color: #cf7d1f !important;
}

ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
}

i {
  font-size: 22px;
}

.background-pattern {
  background-image: url(./../svg/background-pattern.svg);
  background-repeat: repeat;
  background-color: #232526;
}

.icon {
  width: 20px;
  height: 20px;
}

.text-red {
  color: #ff3333;
}

.form-input {
  width: 50%;
  background-color: #383838;
  border-radius: 15px;
}

.form-button {
  width: 30%;
  background-color: #cf7d1f;
  border-radius: 15px;
  font-size: 20px;
}

.form-label {
  font-size: 18px;
}

.terms-of-service {
  margin-top: 7px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.navigation-bar {
  height: 100vh;
  position: absolute;
  background-color: #cf7d1f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation-bar .menu-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}
.navigation-bar .menu-buttons .active {
  color: #fff9dc !important;
}
.navigation-bar .menu-buttons li {
  width: 35px;
}
.navigation-bar .menu-buttons li svg .path {
  transition: all 0.3s ease;
  color: #d9d1b6;
}
.navigation-bar .menu-buttons li svg:hover .path {
  color: #fff9dc;
}
.navigation-bar .logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: auto;
}

.button-dark {
  background: #383838;
  border-radius: 5px;
  font-size: 16px;
  color: #adb5bd;
}

.dropdown {
  color: #6c757d;
  user-select: none;
}
.dropdown .dropdown-toggle {
  font-size: 18px;
}
.dropdown .dropdown-menu {
  background: #383838;
}
.dropdown .dropdown-menu .dropdown-item {
  color: #adb5bd !important;
  user-select: none;
}
.dropdown .dropdown-menu .dropdown-item:hover, .dropdown .dropdown-menu .dropdown-item:active {
  background-color: #383f44 !important;
}

.sidebar {
  background: #383838;
  width: 380px !important;
  height: 100vh;
  margin-left: 64px !important;
}
.sidebar .sidebar-header {
  background: #505558;
  height: 110px;
  border-right: 1px #6c757d solid;
}
.sidebar .sidebar-header .form-control {
  padding-top: 8px;
  background: #383838;
  color: #adb5bd;
  font-size: 18px;
}
.sidebar .sidebar-header .form-control::placeholder {
  color: #adb5bd;
  font-size: 18px;
}
.sidebar .sidebar-header .form-control:focus {
  box-shadow: none;
  border: none;
}
.sidebar .sidebar-header .input-group-text {
  background: #383838;
  border: none;
}
.sidebar .chat-list .active {
  background: #c18d1a;
  border: 1px #c18d1a solid;
}
.sidebar .chat-list .active .last-message {
  color: white !important;
}
.sidebar .chat-list li {
  transition: all 0.3s ease;
  display: inline-flex;
  border: 1px #6c757d solid;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
}
.sidebar .chat-list li .chat-content {
  margin-left: 14px;
}
.sidebar .chat-list li .chat-content .chat-title {
  display: flex;
  align-items: center;
  width: 100%;
}
.sidebar .chat-list li .chat-content .chat-title .chat-info {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}
.sidebar .chat-list li .chat-content p {
  font-size: 14px;
  max-width: 25ch;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar .chat-list li .chat-content .last-message {
  user-select: none;
  color: #adb5bd;
  max-width: 35ch;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar .chat-list li:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar .chat-list li:hover {
  border-color: #c18d1a;
  cursor: pointer;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat .chat-header {
  padding: 22px;
  background-color: #383838;
  display: flex;
  align-items: center;
}
.chat .chat-header .chat-info {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  width: 100%;
}
.chat .chat-header .chat-info .chat-description {
  display: flex;
  flex-direction: column;
}
.chat .chat-header .chat-info .chat-description .chat-name {
  font-size: 16px;
  width: 100px;
  color: white;
}
.chat .chat-header .chat-info .chat-description span {
  color: #adb5bd;
}
.chat .chat-header .chat-info .chat-actions {
  display: flex;
}
.chat .chat-messages {
  flex: 2;
  padding: 12px;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat .chat-messages ul {
  overflow-x: hidden;
  overflow-y: auto;
}
.chat .chat-messages .message {
  margin-bottom: 10px;
  max-height: 155px;
  display: flex;
  max-width: 500px;
}
.chat .chat-messages .message .message-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.chat .chat-messages .message .message-wrapper .message-content {
  max-width: 500px;
  overflow-wrap: break-word;
  display: inline-block;
  padding: 16px;
  background-color: #545454;
  text-align: left;
  border-radius: 15px 15px 15px;
}
.chat .chat-messages .message .message-wrapper .message-options {
  margin-top: 3px;
  display: flex;
}
.chat .chat-messages .message .message-wrapper .message-options .message-time {
  font-size: 14px;
  color: #adb5bd;
}
.chat .chat-messages .message .message-wrapper .message-options .message-button {
  margin: 0 10px;
  cursor: pointer;
  width: 18px;
}
.chat .chat-messages .message .message-wrapper .message-options button {
  background: none;
}
.chat .chat-messages .message .user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  align-self: center;
}
.chat .chat-messages .active {
  float: right;
  flex-direction: row-reverse;
}
.chat .chat-messages .active .message-options {
  flex-direction: row-reverse;
}
.chat .chat-messages .active .message-wrapper {
  margin-left: 0;
  margin-right: 10px;
}
.chat .chat-messages .active .message-wrapper .message-content {
  background-color: #cf7d1f;
}
.chat .chat-footer {
  padding: 36px;
  background-color: #383838;
  border-left: 1px #6c757d solid;
  position: static;
}

/*# sourceMappingURL=style.css.map */
